
.character-page-container{
    @apply h-screen text-center py-9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character-title{
    @apply text-3xl font-bold mb-14;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
