
<section class="character-page-container">

    <h1 class="character-title">Personajes de Marvel</h1>

    <app-search-engine placeholderAtri="Nombre de personajes" (valueInput)="infoInputCharacter($event)"/>

    <section class="character-content">
        <app-card-element />
        <app-card-element />
        <app-card-element />
        <app-card-element />
        <app-card-element />
        <app-card-element />
        <app-card-element />
        <app-card-element />
        <app-card-element />
        <app-card-element />
        <app-card-element />
        <app-card-element />
        <app-card-element />
        <app-card-element />
        <app-card-element />
        <app-card-element />
        <app-card-element />
    </section>

    <button class="button-floating">
        <svg class="icon-floating" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36" color="#ffffff" fill="none">
            <path d="M12 8V16M16 12H8" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="1.5" />
        </svg>
    </button>

</section>

