
.character-page-container{
    @apply h-screen text-center py-9;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative
}

.character-title{
    @apply text-3xl font-bold mb-14;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.character-content{
    @apply mt-5 pt-10 flex flex-col gap-5 pb-10;
}

.button-floating{
    width: 50px;
    height: 50px;
    position: fixed;
    background-color: #000;
    border-radius: 50%;
    right: 20px;
    bottom: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-floating{
    transform: scale(0.9);
    transition: transform .1s;
}

.icon-floating:hover{
    transform: scale(1);
}
