
<section class="character-page-container">

    <h1 class="character-title">Personajes de Marvel</h1>

    <app-search-engine placeholderAtri="Nombre de personajes" (valueInput)="infoInputCharacter($event)"/>

    <section class="character-content">
        @for (character of listCharactersGrowing(); track character.id) {
            <app-card-element identifier="character" [infoElement]="character"/>
        }
        
    </section>

    <app-floating-button (clickButton)="fillListCharacterForShow($event)" />

</section>

